asgiref==3.5.2
certifi==2021.10.8
charset-normalizer==2.0.12
conda==4.3.16
distlib==0.3.4
Django==4.1
filelock==3.6.0
gunicorn==20.1.0
idna==3.3
Pillow==9.2.0
pipenv==2022.4.8
platformdirs==2.5.1
pycosat==0.6.3
requests==2.27.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
sqlparse==0.4.2
urllib3==1.26.9
virtualenv==20.14.1
virtualenv-clone==0.5.7
